$maincolor:#4288FB;
$darkcolor:#1d3256;

::selection {
    background-color: $maincolor;
    color: #fff;
}

html {
    height: 100%;
}

body {
    font-family: 'Lato', 'Noto Sans JP', sans-serif;
    background: #fefefe;
    color: #1d3256;
}

p {
    font-size: 15px;
    ;
    font-weight: 300;
    line-height: 1.7em;
    color: rgba(29, 50, 86, 0.8);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}

.carousel-indicators {
    li {
        background-color: rgba(153, 153, 153, .7);
    }

    .active {
        background-color: $maincolor;
    }
}

.carousel-control-next-icon {
    background-image: url(../img/angle-right-solid.svg);
    height: 300px;
}

.carousel-control-prev-icon {
    background-image: url(../img/angle-left-solid.svg);
    height: 300px;
}

.box-shadow-blue {
    box-shadow: 0 0 40px 0 rgba(66, 136, 251, 0.2);
}

.primary_btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 1px solid rgba(104, 155, 238, 0.3);
    // padding: 15px 30px;
    background-color: $maincolor;
    border-radius: 5px;
    color: #fff;

    a {
        display: block;
        padding: 15px 30px;
    }

    &.second {
        background-color: #fff;
        color: $maincolor;
    }

    &:hover {
        box-shadow: 0 0 40px 0 rgba(66, 136, 251, 0.4);
    }
}

@media (max-width: 768px) {
    .primary_btn {
        width: 100%;

    }
}


// navbar
.navbar {
    padding: 0 5%;
    min-height: 80px;
    background: #fefefe;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(228, 228, 228);
    position: sticky;
    position: -webkit-sticky;

    .logomark {
        height: 50px;
        width: 100px;
    }

    .logo {
        width: 100%;
        height: -webkit-fill-available;
    }

    ul {
        min-height: 80px;

        li {
            font-size: 17px;
            display: inline-block;
            height: 100%;
            min-height: 80px;
            padding: 0 10px;

            .dropdown-menu {
                left: auto;
                right: 0;
            }

            img {
                user-select: none;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                height: 33px;
                width: 33px;
                object-fit: cover;
            }

            .nav_img {
                min-height: 80px;
                align-items: center;
                display: flex;
                cursor: pointer;
            }

            a {
                // padding: 0;
                height: 100%;
                color: #1D3256;
                display: block;
                position: relative;
                align-items: center;
                display: grid;

                &:before,
                &:after {
                    content: '';
                    width: 0;
                    bottom: 0;
                    transition: all 0.3s ease;
                    border-bottom: 3px solid #000;
                    position: absolute;
                    display: block;
                }

                &:hover:before,
                &:hover:after {
                    width: 50%;
                    border-bottom: 3px solid #000;
                }

                &:before {
                    left: 50%;
                }

                &:after {
                    right: 50%;
                }

            }

            .nav-link {
                min-height: 80px;
            }

            .nav-link.nav_signup {
                background: #1D3256;
                color: #fff;

                &:hover {
                    color: $maincolor;
                }
            }
        }

        // }
    }
}

@media (max-width: 992px) {
    .navbar {
        min-height: 50px;
        padding: .5rem 1rem;

        .logomark {
            height: 30px;
            width: 60px;
        }

        ul {
            li {
                margin-bottom: 10px;
                min-height: auto;
                padding: 0;

                .nav-link {
                    min-height: auto;
                }
            }
        }

    }

    .navbar-light {
        .navbar-toggler {
            border: none;

            i {
                font-size: 40px;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;

            }

            &:hover i {
                color: $maincolor;
            }
        }
    }
}

// navbar


// title 
main {
    margin-top: 40px;
    margin-bottom: 100px;

    .title-text {
        margin-bottom: 40px;
    }

}

// title 


// footer

footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 45px 5%;
    margin-top: 80px;

    .footer-left {

        .footer-links {
            margin: 0 0 10px;
            padding: 0;

            a {
                font-size: 18px;
                color: #fff;
            }

            a:hover {
                color: $maincolor;
            }

            p {
                font-size: 14px;
                color: #fff;
                opacity: 0.6;
            }

        }

    }

    .footer-right {
        float: right;
        margin-top: 6px;
        max-width: 180px;

        a {
            display: inline-block;
            width: 35px;
            height: 35px;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-left: 3px;
        }
    }

    a:hover {
        color: $maincolor;
    }
}

@media (max-width: 600px) {

    footer {

        .footer-left,
        .footer-right {
            text-align: center;
        }

        .footer-right {
            float: none;
            margin: 0 auto 20px;
        }

        .footer-left p.footer-links {
            line-height: 1.8;
        }
    }

}

// footer


// material-list

.material-list {
    margin: 0;

    .list-group {
        margin-bottom: 40px;

        .list-title {
            height: 100px;
            padding-top: 37px;
            padding-bottom: 37px;
            z-index: 2;
            color: #fff;
            background-color: #292c2f;
            border-left: 5px solid $maincolor;

            span {
                font-weight: bold;
            }
        }

        .list-item {
            height: 70px;
            padding-top: 21px;
            padding-bottom: 21px;

            &:hover {
                background-color: #F1F6FE;
            }

            &.active {
                background-color: #F1F6FE;
                color: $maincolor;
                border: 1px solid rgba(0, 0, 0, .125);
                border-left: 5px solid $maincolor;

            }
        }
    }
}

// material-list




// user

.user-show {
    box-shadow: 15px 20px 70px -5px rgba(0, 0, 0, 0.2);
    margin-bottom: 80px;

    .user_row {
        margin: 0;

        .user-img {
            height: 500px;
            background-image: url("../img/sample-icon.jpg");
            background-size: cover;
        }

        .user-info {
            height: 500px;
            padding-left: 40px;
            background-color: #fff;

            .user-text {
                h5 {
                    padding-top: 120px;
                    color: $darkcolor;
                    opacity: 0.7;
                }

                h3 {
                    letter-spacing: 0.2em;
                    padding-bottom: 30px;
                }

                p {
                    line-height: 2em;
                    padding-right: 40px;
                    font-size: 85%;
                }
            }

            .user-time {
                margin-top: 30px;

                span {
                    color: $maincolor;
                }
            }
        }
    }
}

// user


// article

article {
    .article-thum {
        height: 300px;
        background-image: url(../img/sample-icon.jpg);
        background-size: cover;
        margin-bottom: 30px;
    }

    .article-product-thum {
        box-shadow: 15px 20px 70px -5px rgba(0, 0, 0, 0.2);
        margin-bottom: 50px;
    }

    .article-day {
        opacity: 0.5;
        margin-bottom: 50px
    }

    section {
        margin-bottom: 50px;

        h3 {
            padding: 0.1em 0.5em;
            border-left: solid 7px $maincolor;
        }

        h4 {
            display: inline-block;
            background: linear-gradient(transparent 70%, $maincolor 110%);
        }

        p {
            span {
                color: $maincolor;
            }

            a {
                color: $maincolor;
                border-bottom: 2px solid $maincolor;

                &:hover {
                    color: $maincolor;
                    border-bottom: none;
                }
            }
        }

        .article-img-contents {
            .article-img {
                height: 400px;
                margin-bottom: 5px;
                overflow: hidden;

                img {
                    height: auto;
                }
            }

            p {
                font-size: 0.8rem;

                a {
                    color: $maincolor;
                    border-bottom: 1px solid $maincolor;

                    &:hover {
                        border-bottom: none;
                    }
                }
            }
        }

        .article-product-img-contents {
            margin-bottom: 70px;

            .article-img {
                box-shadow: 15px 20px 70px -5px rgba(0, 0, 0, 0.2);

                &:hover {
                    cursor: pointer;
                    opacity: 0.6;
                    -webkit-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;
                }
            }
        }

        .cont_btn_mas_dets {
            position: absolute;
            border: 1px solid rgba(104, 155, 238, 0.2);
            padding: 15px 30px;
            background-color: #fff;
            border-radius: 5px;
            overflow: hidden;
            color: #555;

            &::after {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                content: '';
                width: 120%;
                height: 100%;
                background: $maincolor;
                transform-origin: right top;
                transform: skewX(-30deg) scale(0, 1);
                transition: transform .3s;
            }

            &:hover {
                background-color: transparent;
                color: #fff;
                cursor: pointer;

                &::after {
                    transform-origin: left top;
                    transform: skewX(-30deg) scale(1, 1);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    article {
        section {
            .article-img-contents {
                .article-img {
                    height: auto;
                }
            }
        }
    }

}

// article



// success modal

.modal {
    top: 50px;

    .modal-dialog {
        .modal-content {
            border: 0;
            -webkit-border-radius: .125rem;
            border-radius: .125rem;

            .modal-body {
                padding: 60px 40px 40px;

                img {
                    border-radius: 50%;
                    margin-bottom: 40px;
                }

                h4 {
                    color: $maincolor;
                    margin-bottom: 10px;
                }

                .share_modal {
                    position: relative;

                    .share_text {
                        font-size: 13px;
                        vertical-align: top;

                        .share_label {
                            line-height: 1.3;
                            cursor: pointer;
                            display: block;
                            font-weight: 700;

                            input {
                                border: 1px solid #ccc;
                                border-radius: 3px;
                                color: $darkcolor;
                                display: block;
                                height: 32px;
                                padding: 4px;
                                padding-left: 41px;
                                width: 100%;
                            }
                        }
                    }

                    .share_btn {
                        cursor: pointer;
                        left: 1px;
                        top: 1px;
                        width: 34px;
                        background: $maincolor;
                        border: 0 solid #ccc;
                        border-radius: 2px 0 0 2px;
                        border-right-width: 1px;
                        bottom: 1px;
                        display: block;
                        font-weight: 400;
                        height: 30px;
                        line-height: 30px;
                        padding: 0 7px;
                        position: absolute;
                        white-space: nowrap;

                        i {
                            position: absolute;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                            transform: translateY(-50%);
                            color: #fff;
                            height: 16px;
                            left: 0;
                            margin: 0 auto;
                            right: 0;
                            width: 16px;
                        }
                    }
                }
            }

            .modal-footer {
                border-top: none;
                padding: 0 40px 50px;
                display: inline;

                .primary_btn {
                    width: 100%;
                }
            }

            .modal-footer>:not(:last-child) {
                margin-right: 0;
                margin-bottom: 20px;
            }

            .modal-footer>:not(:first-child) {
                margin-left: 0;
            }


            &.modal_delete {
                box-shadow: 0 0 40px 0 rgba(251, 66, 66, 0.1);

                .modal-title {
                    color: #190808;
                }

                .modal-body {
                    img {
                        box-shadow: 0 0 40px 0 rgba(251, 66, 66, 0.2);
                    }

                    h4 {
                        color: $darkcolor;
                    }
                }

                .primary_btn {
                    box-shadow: 0 0 40px 0 rgba(251, 66, 66, 0.2);
                    background-color: #FB4242;
                }
            }

            &.modal_img {

                .modal-header {}

                .modal-body {
                    img {
                        width: 100%;
                        border-radius: 0;
                    }
                }
            }
        }
    }
}

// success modal


// product_box--------------------------

.product_box {
    border-radius: 5px;
    margin-bottom: 80px;

    .product_img {
        a {
            width: 100%;
            display: block;
            height: 100%;

            span {
                border-radius: 5px 0 0 5px;
                display: block;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
            }
        }
    }

    .product_item {
        padding: 40px;
        padding-left: 25px;

        h4 {
            margin-bottom: 20px;
        }

        span {
            color: $maincolor;
            display: block;
            margin-bottom: 30px;

            i {
                margin-right: 10px;
            }
        }

        .primary_btn:last-child {
            margin-left: 20px;
        }
    }
}

@media (max-width: 768px) {
    .product_box {
        .product_img {
            a {
                height: 200px;

                span {
                    border-radius: 5px 5px 0 0;
                }
            }
        }

        .product_item {
            padding: 20px 40px;

            .primary_btn:last-child {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
}

// product_box--------------------------


// content_head ------------------------
.content_head {
    height: 385px;
    width: 100%;
    text-align: center;
    background-size: cover;

    .overlay {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(50, 50, 50, 0.6));
        width: 100%;
        height: 100%;
        display: inline-grid;

        h1 {
            color: #fff;
        }
    }
}

@media (max-width: 768px) {
    .content_head {
        height: 200px;

        .overlay {
            h1 {
                color: #fff;
                font-size: 24px;
            }
        }
    }
}

.thum1 {
    background-image: url(../img/product-thumnail1.jpg);
}

.thum2 {
    background-image: url(../img/product-thumnail2.png);
}

// content_head ------------------------

// material-text ---------------------

.material_text {
    margin-bottom: 40px;

    p {
        margin-bottom: 15px
    }

    span {
        color: $maincolor;

        i {
            padding-right: 10px;
        }
    }
}

// material-text ---------------------

// ----------------------

.material_chapter {
    padding-left: 80px;

    .material_items {
        ul {
            letter-spacing: 2px;
            height: 70px;
            line-height: 60px;

            li {
                .chapter_circle {
                    margin-right: 15px;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    line-height: 100%;
                    border-radius: 50%;
                    vertical-align: middle;
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                    background-color: rgb(41, 44, 47);

                    &::before {
                        background: inherit;
                        content: " ";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0.75;
                        border-radius: 50%;
                        -webkit-transition: none;
                        transition: none;
                    }

                    &:hover {
                        margin-right: 13px;
                        width: 32px;
                        height: 32px;
                        background-color: $maincolor;
                        transition: background-color .2s ease-in;
                        -webkit-transition: background-color .2s ease-in;
                        -moz-transition: background-color .2s ease-in;

                        &::before {
                            opacity: 0;
                            -webkit-transform: scale(1.35);
                            transform: scale(1.35);
                            -webkit-transition: all 0.5s linear;
                            transition: all 0.5s linear;
                        }
                    }
                }

                a {
                    color: #33383b;

                }
            }
        }
    }
}

@media (max-width: 992px) {
    .material_chapter {
        display: none;
    }
}


// material_article ----------------------

.material_article {
    border-radius: 5px;
    padding: 80px 70px;
    box-shadow: 0 0 40px 0 rgba(66, 136, 251, 0.2);

    h2,
    p,
    .p_box_text,
    .img_text,
    h4 {
        margin-bottom: 30px;
    }

    p {
        line-height: 2.2em;

        span {
            opacity: 1;
            font-weight: bold;
            color: $darkcolor;
        }
    }

    .p_box {
        background-color: #f8f8f8;
        border-radius: 10px;
        padding: 20px 15px;
        line-height: 1.9em;
    }

    .p_box_text {
        line-height: 1.9em;
    }

    h4 {
        border-left: 5px solid $maincolor;
        padding: 10px 20px;
    }

    .primary_btn {
        width: 100%;
    }

    a {
        cursor: pointer;
        color: $maincolor;
        text-decoration-line: underline;
    }
}

@media (max-width: 992px) {
    .material_article {
        box-shadow: none;
        padding: 0 15px;

        h2 {
            font-size: 22px;
        }

        h4 {
            font-size: 18px;
        }
    }
}

// material_article ----------------------


.signup {
    margin: 0 auto;
    border-radius: 5px;
    padding: 75px;
    box-shadow: 0 0 40px 0 rgba(66, 136, 251, 0.2);


    .signup_form {
        padding: 0 40px;

        .title {
            margin-bottom: 33px;
            line-height: 1.66;
            margin: 0;
            padding: 0;
            font-size: 30px;
        }

        form {
            width: 100%;

            .form_group {
                position: relative;
                width: 100%;
                margin: 0 auto;

                .label_name,
                .label_mail,
                .label_pass,
                .label_repass {
                    position: absolute;
                    top: 5px;
                    left: 15px;
                    font-size: 16px;
                    color: #a0a0a0;
                    transition: all 0.25s ease;

                    &.focus {
                        top: -25px;
                        left: 5px;
                        font-size: 14px;
                        color: $maincolor;
                    }
                }

                .textbox_name,
                .textbox_mail,
                .textbox_pass,
                .textbox_repass {
                    position: relative;
                    display: block;
                    width: 100%;
                    margin-top: 35px;
                    padding: 5px 15px;
                    border: none;
                    font-size: 16px;
                    color: #000;
                    outline: none;
                    background: #fff;
                    border-bottom: 1px solid #ccc;

                    &:hover {
                        border-bottom: 1px solid $maincolor;
                    }
                }

                .agree {
                    display: block;
                    position: relative;
                    padding-left: 30px;
                    margin-bottom: 15px;
                    cursor: pointer;
                    letter-spacing: 1px;
                    font-size: 13px;

                    .privacy_policy {
                        color: $maincolor;
                        text-decoration: underline;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    .agree_cbox {
                        position: absolute;
                        top: 0px;
                        left: 0;
                        height: 20px;
                        width: 20px;
                        background: #e6e6e6;

                        &::after {
                            left: 8px;
                            top: 4px;
                            width: 5px;
                            height: 11px;
                            border: solid #fff;
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                            content: '';
                            position: absolute;
                            display: none;
                        }
                    }

                    input {
                        position: absolute;
                        z-index: -1;
                        opacity: 0;

                        &:checked~.agree_cbox {
                            background: $maincolor;

                            &::after {
                                display: block;
                            }
                        }
                    }
                }
            }

            .form_pass {
                font-size: 12px;
                color: #999;

                a {
                    color: $maincolor;
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .primary_btn {
                padding: 15px 50px;

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0 40px 0 rgba(66, 136, 251, 0.4);
                }
            }
        }

        .social_login {
            display: flex;

            span {
                margin-right: 15px;
                display: inline-block;
            }

            .social_icon {
                display: flex;

                li {
                    padding: 5px;

                    a {
                        display: inline-block;
                        width: 35px;
                        height: 35px;
                        border-radius: 5px;
                        font-size: 20px;
                        color: #ffffff;
                        text-align: center;
                        line-height: 35px;
                        margin-left: 3px;
                        position: relative;

                        &:hover {
                            &::before {
                                opacity: 0;
                                -webkit-transform: scale(1.35);
                                transform: scale(1.35);
                                -webkit-transition: all 0.5s linear;
                                transition: all 0.5s linear;
                            }
                        }

                        &::before {
                            background: inherit;
                            content: " ";
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0.75;
                            border-radius: 5px;
                            -webkit-transition: none;
                            transition: none;
                        }
                    }

                    .fb {
                        background-color: #3B5998;
                    }

                    .gg {
                        background-color: #DB4437;
                    }
                }
            }
        }
    }

    .signup_img {
        text-align: center;

        img {
            margin-bottom: 50px;
        }

        .img_link {
            font-size: 14px;
            color: $maincolor;
            text-decoration: underline;
            display: block;
            text-align: center;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .signup {
        padding: 25px 0;
        box-shadow: none;

        .signup_form {
            padding: 0 15px;

            .title {
                font-size: 22px;
            }
        }

        .signup_img {
            margin-top: 40px;
        }
    }
}


// about ---------------------
@keyframes rocket-movement {
    100% {
        transform: translate(-700px, -600px);
    }
}

@keyframes spin-earth {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        transition: transform 20s;
    }
}

@keyframes glow-star {
    40% {
        -webkit-opacity: 0.3;
        opacity: 0.3;
    }

    90%,
    100% {
        -webkit-opacity: 1;
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        border-radius: 999999px;
    }
}

.bg_about {
    background: url(../img/bg-about.svg);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: left top;
    height: 100%;
    overflow: hidden;
    width: 100%;
    user-select: none;

    .navbar {
        background: transparent;
        border: none;
    }

    .stars {
        background: url(../img/star.svg);
        background-repeat: repeat;
        background-size: contain;
        background-position: left top;
    }

    .about_content {
        width: 100%;
        padding: 17% 5% 10% 5%;
        text-align: center;

        .img_404 {
            width: 300px;
            position: relative;
            z-index: 100;
            pointer-events: none;
        }
    }

    .about_text {
        margin-top: 30px;
        color: #fff;

        h2 {
            letter-spacing: 3px;
            margin-bottom: 20px;
        }

        h5 {
            line-height: 2rem;
            margin-bottom: 20px;

            .br {
                display: none;
            }
        }
    }

    .objects {
        img {
            z-index: -1;
            pointer-events: none;
        }

        .rocket_404 {
            width: 130px;
            position: absolute;
            transform: translateX(-50px);
            top: 75%;
            right: -5%;
            pointer-events: none;
            animation: rocket-movement 100s linear infinite both running;
        }

        .earth_404 {
            position: absolute;
            top: 20%;
            width: 130px;
            left: 15%;
            animation: spin-earth 50s infinite linear both;
        }

        .moon_404 {
            position: absolute;
            top: 12%;
            left: 25%;
            width: 70px;
            transform: rotate(0deg);
            animation: spin-earth 40s infinite linear both;
        }
    }

    .bright_stars .star {
        position: absolute;
        border-radius: 100%;
        background-color: #fff;
        width: 10px;
        height: 10px;
        opacity: 0.3;
        will-change: opacity;

        &:nth-child(1) {
            top: 80%;
            left: 25%;
            animation: glow-star 2s infinite ease-in-out alternate 1s;
        }

        &:nth-child(2) {
            top: 20%;
            left: 40%;
            animation: glow-star 2s infinite ease-in-out alternate 3s;
        }

        &:nth-child(3) {
            top: 25%;
            right: 25%;
            animation: glow-star 2s infinite ease-in-out alternate 5s;
        }

        &:nth-child(4) {
            top: 75%;
            left: 80%;
            animation: glow-star 2s infinite ease-in-out alternate 7s;
        }

        &:nth-child(5) {
            top: 90%;
            left: 50%;
            animation: glow-star 2s infinite ease-in-out alternate 9s;
        }
    }
}

@media (max-width: 768px) {
    .bg_about {
        .about_content {
            padding-top: 25%;

            .about_text {
                h5 {
                    .br {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .bg_about {
        .about_content {
            .img_404 {
                width: 150px;
            }

            .about_text {
                h2 {
                    font-size: 1.3rem;
                }

                h5 {
                    font-size: 1rem;
                }
            }
        }

        .objects {
            .rocket_404 {
                width: 60px;
            }

            .earth_404 {
                width: 50px;
            }

            .moon_404 {
                width: 20px;
            }
        }
    }
}

// about ---------------------


// profile --------------------

.profile {
    padding: 40px;
    margin-bottom: 70px;
    box-shadow: 0 0 40px 0 rgba(66, 136, 251, 0.2);

    .profile_img {
        display: block;
        text-align: center;

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 100%;
        }

        .primary_btn {
            display: block;
            padding: 15px 30px;
            margin-top: 42px;
            margin-bottom: 0;

        }

        input[type="file"] {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
            top: 0;
            left: 0;
            cursor: pointer;
        }

    }

    .profile_item {
        padding-left: 25px;

        h6 {
            margin-bottom: 15px;
            font-weight: lighter;
        }

        h3 {
            padding: .25em 0 .25em .75em;
            border-left: 6px solid $maincolor;
            margin-bottom: 40px;
        }

        span {
            color: $maincolor;
            display: block;
            margin-bottom: 30px;

            i {
                margin-right: 10px;
            }
        }

        .edit_prof_tbox {
            display: block;
            width: 100%;
            padding: .25em 0 .25em .75em;
            margin-bottom: 40px;
            border: none;
            font-size: 16px;
            color: #000;
            outline: none;
            background: #fff;
            line-height: 1.2;
            font-weight: bold;
            font-size: 1.75rem;
            border-left: 6px solid $maincolor;
            border-bottom: 1px solid #ccc;

            &:hover {
                border-bottom: 1px solid $maincolor;
            }
        }

        textarea {
            position: relative;
            display: block;
            width: 100%;
            padding: 5px 25px;
            border: none;
            letter-spacing: 1px;
            font-size: 16px;
            color: #000;
            outline: none;
            background: #fff;
            border-bottom: 1px solid #ccc;
            resize: none;
            margin-bottom: 40px;
            border-left: 6px solid $maincolor;
            line-height: 2rem;

            &:hover {
                border-bottom: 1px solid $maincolor;
            }
        }
    }
}

@media (max-width: 768px) {
    .profile {
        padding: 0;
        box-shadow: none;

        .profile_img {
            margin-top: 30px;

            img {
                width: 150px;
                height: 150px;
            }
        }

        .profile_item {
            padding: 20px 15px;

            h3,
            .edit_prof_tbox {
                font-size: 1.15rem;
                word-wrap: break-word;
            }
        }
    }
}

.edit_pass {
    cursor: pointer;
    color: $maincolor;
    text-decoration-line: underline;

}


// profile --------------------


.uploadOuter {
    text-align: center;
    padding: 20px;

}

.dragBox {
    width: 250px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-weight: bold;
    line-height: 95px;
    color: #999;
    border: 2px dashed #ccc;
    display: inline-block;
    transition: transform 0.3s;

    input[type="file"] {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        top: 0;
        left: 0;
    }
}

.draging {
    transform: scale(1.1);
}

#preview {
    text-align: center;

    img {
        max-width: 100%
    }
}


.post_btn {
    bottom: 32px;
    right: 42px;
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 1000;
    border-radius: 50%;
    background: $maincolor;
    color: #fff;
    text-align: center;

    h6 {
        margin: 19px 0 0;
    }

    i {
        margin: 7px 0 0;
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    .post_btn {
        bottom: -13px;
        right: -13px;
        width: 80px;
        height: 80px;


        h6 {
            margin-top: 10px;
        }

        i {
            margin-top: 4px;
            font-size: 30px;
        }
    }
}


// feed -----------------------

.feed {
    padding: 40px;
    margin-bottom: 50px;

    &.feed_new {
        box-shadow: 0 0 40px 0 rgba(66, 136, 251, 0.2);
    }

    .feed_img {
        display: block;

        // img {
        //     object-fit: cover;
        //     border: 1px solid #e6e6e6;
        //     width: 30%;
        //     height: 100px;
        //     border-radius: 2px;

        //     &:nth-child(1) {
        //         width: 100%;
        //         height: 250px;
        //         margin-bottom: 20px;
        //     }

        //     &:nth-child(2),
        //     &:nth-child(3) {
        //         margin-right: 4.2%;
        //     }
        // }

        .zoom {
            object-fit: cover;
            border-radius: 2px;
            display: inline-block;

            &:nth-child(1) {
                width: 100%;
                height: 250px;
                margin-bottom: 20px;
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                width: 30%;
                height: 100px;

                img {
                    height: 100px;
                }
            }

            &:nth-child(2),
            &:nth-child(3) {
                margin-right: 4.2%;
            }

            img {
                width: 100%;
                transition: all 0.5s;
                -moz-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                border: 1px solid #e6e6e6;
                object-fit: cover;
                height: 250px;
            }

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .feed_new_img {
        display: block;
        text-align: center;

        img {
            width: 100%;
            height: 250px;
            border: 1px solid #e6e6e6;
            border-radius: 2px;
            object-fit: cover;
        }

        .primary_btn {
            display: block;
            padding: 15px 30px;
            margin-top: 42px;
            margin-bottom: 0;

        }

        input[type="file"] {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
            top: 0;
            left: 0;
            cursor: pointer;
        }
    }

    .feed_content {
        position: relative;

        .feed_user {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            img {
                height: 30px;
                width: 30px;
                object-fit: cover;
                border-radius: 50%;

                &:hover {
                    opacity: 0.6;
                    transition: all 0.3s;
                }
            }

            h5 {
                padding-left: 20px;
                letter-spacing: 1px;
                margin-bottom: 0;
                width: 100%;

                a {
                    width: 100%;
                    display: block;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }

        .feed_url {
            margin-bottom: 20px;

            a {
                cursor: pointer;
                color: $maincolor;
                text-decoration-line: underline;
                word-wrap: break-word;
                display: block;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .feed_comment {
            p {
                line-height: 2rem;

                // text-overflow: ellipsis;
                // overflow : hidden;
                // display: -webkit-box;
                // -webkit-box-orient: vertical;
                // -webkit-line-clamp: 2;

                // &::after {
                //     position: absolute;
                //     bottom: 0px;
                //     left: 0px;
                //     z-index: 2;
                //     content: "";
                //     width: 100%;
                //     height: 25%;
                //     background: linear-gradient(rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.7) 20%, rgb(255, 255, 255) 80%);
                // }
            }
        }
    }

    .feed_item {
        padding-left: 25px;

        h6 {
            font-weight: lighter;
            margin-bottom: 0;
        }

        .edit_feed_tbox {
            display: block;
            width: 100%;
            padding: .5em 0 .5em .75em;
            margin-bottom: 40px;
            border: none;
            font-size: 16px;
            color: #000;
            outline: none;
            background: #fff;
            line-height: 1.2;
            font-weight: bold;
            border-left: 6px solid $maincolor;
            border-bottom: 1px solid #ccc;

            &:hover {
                border-bottom: 1px solid $maincolor;
            }
        }

        textarea {
            position: relative;
            display: block;
            width: 100%;
            padding: .5em 0 .5em .75em;
            border: none;
            letter-spacing: 1px;
            font-size: 16px;
            color: #000;
            outline: none;
            background: #fff;
            border-bottom: 1px solid #ccc;
            resize: none;
            margin-bottom: 40px;
            border-left: 6px solid $maincolor;
            line-height: 2rem;

            &:hover {
                border-bottom: 1px solid $maincolor;
            }
        }
    }

    .primary_btn {

        &.second {
            margin-left: 20px;
        }
    }

    i {
        position: absolute;
        top: 5px;
        right: 15px;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }
    }

    .dropdown-menu {

        .dropdown-item {
            cursor: pointer;
        }

        .delete {
            color: #FB4242;
        }
    }
}

@media (max-width: 768px) {
    .feed {
        padding: 20px;

        .feed_img {
            margin-bottom: 30px;

            .zoom {

                &:nth-child(2),
                &:nth-child(3) {
                    margin-right: 3.9%;
                }
            }
        }

        .feed_new_img {
            margin-bottom: 30px;
        }

        .primary_btn {

            &.second {
                margin-left: 0;
                margin-top: 20px;
            }
        }

        .feed_item {
            padding-left: 15px;
        }    
    }
}

// feed -----------------------